.contents{
    height: 530px;
    overflow-y: auto;
    overflow-x: auto;
}

.btn-size{
   border: none;
   margin-bottom: 5px;
}

.btn-delete{
    background-color:#E63946 ;
    color: #F1FAEE;
}
.btn-edit{
    background-color:#1D3557;
    color: #F1FAEE;
}



.header-table{
    background-color: #1D3557;
    color: #F1FAEE;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
}

.body-table{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
}
.icon-sort{
    font-size: 0.8rem;
    vertical-align: text-top;
    cursor: pointer;
}



@media (min-width: 768px) {
    .btn-size{
        margin-right: 5px;
    }

    .header-table{
        font-size: 1.3rem;
    }
    .body-table{
        font-size: 1.2rem;
    }
}