


<div class="btn-group-sm mb-2 d-flex justify-content-end p-2" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary" (click)="getAllPayments()">todos</button>
  <button type="button" class="btn btn-primary" (click)="getPending()">pendentes</button>
  <button type="button" class="btn btn-primary" (click)="getPaid()">pagos</button>
</div>
<div class="contents ">
  <table class="table table-striped table-hover">
      <thead class="sticky-top">
        <tr>
          <th scope="col" class="header-table">Valor <i class="bi bi-caret-down-fill"></i></th>
          
          <th scope="col"class="header-table">Data</th>
          <th scope="col"class="header-table">Descrição</th>
          <th scope="col"class="header-table">status</th>
          <th scope="col"class="header-table">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of paymentList">
          <td class="body-table
          ">{{item.paymentValue | currency:'BRL'}}</td>
          <td class="body-table
          ">{{item.paymentDate |  date:'short'}}</td>
          <td class="body-table
          ">{{item.description}}</td>
          <td class="body-table
          ">{{item.status}}</td>
          <td class="body-table
          " *ngIf="item.status !== 'PAID'; else btnDisable" >
            
            <button class="btn btn-primary me-2" (click)="editPayment(item, paymentModal)"> Editar</button>
            <button class="btn btn-danger" (click)="openDeletePayment(item, deletePayment)"> Deletar</button>
  
            
          </td>
          
        </tr>
      </tbody>
    </table>
</div>

<ng-template #btnDisable>
  <td class="body-table
  ">
    <button class="btn btn-primary me-2" disabled>Editar</button>
    <button class="btn btn-danger" disabled> Deletar</button>
  </td>
</ng-template>
  

 
    <ng-template #paymentModal>
      <form class="row p-2" [formGroup]="paymentForm">
        <div class="col-6 mb-3">
            <label for="value" class="form-label" >Valor* </label>
            
            <input type="number" class="form-control" id="value" formControlName="paymentValue">
      
          </div>
         <div class="col-6 mb-3">
            <label for="date" class="form-label">Data*</label>
            <input type="text" class="form-control" id="date"   mask="d0/M0/0000" formControlName="paymentDate">
            <app-message-alert
        *ngIf="paymentForm.get('paymentDate')?.errors?.['required'] && paymentForm.get('paymentDate')?.touched" 
        mensagem="Campo obrigatório">
        </app-message-alert>
        <app-message-alert
        *ngIf="paymentForm.get('paymentDate')?.errors?.['date'] && paymentForm.get('paymentDate')?.touched" 
        mensagem="data não permitida">
        </app-message-alert>
          </div>
          <div class="col-md-3 mb-3">
            <label for="date" class="form-label">Hora*</label>
            <select class="form-select form-select-md " aria-label=".form-select-lg example" formControlName="paymentHours">
              <option value="10:00">10:00</option>
              <option value="14:00">14:00</option>
              <option value="17:00">17:00</option>
            </select>
            </div>
          <div class="col-md-12">
            <label for="description" class="form-label">Descrição</label>
            <textarea class="form-control" id="description" formControlName="description"></textarea>
          </div>
          <div class="modal-footer d-md-block  mt-4">
            <button type="submit" class="btn btn-secondary" (click)="saveEditPayment()">Salvar</button>
            <button type="button" class="btn btn-primary" (click)="closeModal()" >Cancelar</button>
          </div>
      </form>
    </ng-template>

    <ng-template #deletePayment>
      <h4>Deseja cancelar o pagamento ?</h4>
      <button (click)="deleteoPayment()">Sim</button>
      <button (click)="closeModal()">Não</button>
    </ng-template>

 