

<!-- <p class="" *ngIf="!list.length"> Favor realize seu agendamento!</p> -->
<div class="btn-group-sm mb-2 d-flex justify-content-end p-2" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary" (click)="getAllPayments()">todos</button>
  <button type="button" class="btn btn-primary" (click)="getPending()">pendentes</button>
  <button type="button" class="btn btn-primary" (click)="getPaid()">pagos</button>
</div>
<table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Valor</th>
        <th scope="col">Data</th>
        <th scope="col">Descrição</th>
        <th scope="col">status</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of paymentList">
        <td>{{item.paymentValue | currency:'BRL'}}</td>
        <td>{{item.paymentDate |  date:'short'}}</td>
        <td>{{item.description}}</td>
        <td>{{item.status}}</td>
        <td>
          
          <button (click)="editPayment(item, paymentModal)"> Editar</button>
          

        </td>
      </tr>
    </tbody>
  </table>

 
    <ng-template #paymentModal>
      <form class="row p-2">
        <div class="col-6 mb-3">
            <label for="value" class="form-label">Valor*</label>
            <input type="number" class="form-control" id="value">
      
          </div>
         <div class="col-6 mb-3">
            <label for="date" class="form-label">Data*</label>
            <input type="text" class="form-control" id="date"   mask="d0/M0/0000" >
          </div>
          <div class="col-md-12">
            <label for="description" class="form-label">Descrição</label>
            <textarea class="form-control" id="description" ></textarea>
          </div>
          <div class="modal-footer d-md-block  mt-4">
            <button type="submit" class="btn btn-secondary" >Editar</button>
            <button type="button" class="btn btn-primary"  >Cancelar</button>
          </div>
      </form>
    </ng-template>

 