

<!-- <p class="" *ngIf="!list.length"> Favor realize seu agendamento!</p> -->
<table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Valor</th>
        <th scope="col">Data</th>
        <th scope="col">Descrição</th>
        <th scope="col">status</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of paymentList">
        <td>{{item.paymentValue | currency:'BRL'}}</td>
        <td>{{item.paymentDate |  date:'short'}}</td>
        <td>{{item.description}}</td>
        <td>{{item.status}}</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>

  