

<div class="login-title ">
    <h2>Agende seu Pagamento</h2>
</div>

<form class="row mt-4 justify-content-center" [formGroup]="paymentForm" (ngSubmit)="schedulePayment()" >

    <div class=" col-sm-5 col-md-2 mb-3">
        <label for="value" class="form-label">Valor*</label>
        <input type="number" class="form-control" id="value" formControlName="paymentValue">
        <app-message-alert
        *ngIf="paymentForm.get('paymentValue')?.errors?.['required'] && paymentForm.get('paymentValue')?.touched" 
        mensagem="Campo obrigatório">
        </app-message-alert>
        <app-message-alert
        *ngIf="paymentForm.get('paymentValue')?.errors?.['pattern']" 
        mensagem="digite um valor válido">
        </app-message-alert>
      </div>

    <div class=" col-sm-5 col-md-2 mb-3">
        <label for="date" class="form-label">Data*</label>
        <input type="text" class="form-control" id="date" formControlName="paymentDate"  mask="d0/M0/0000" >
        <app-message-alert
        *ngIf="paymentForm.get('paymentDate')?.errors?.['required'] && paymentForm.get('paymentDate')?.touched" 
        mensagem="Campo obrigatório">
        </app-message-alert>
        <app-message-alert
        *ngIf="paymentForm.get('paymentDate')?.errors?.['date'] && paymentForm.get('paymentDate')?.touched" 
        mensagem="data não permitida">
        </app-message-alert>
      </div>

    <div class="col-sm-5 col-md-2 mb-3">
      <label for="date" class="form-label">Hora*</label>
      <select class="form-select form-select-md " aria-label=".form-select-lg example" formControlName="paymentHours">
        <option value="10:00">10:00</option>
        <option value="14:00">14:00</option>
        <option value="17:00">17:00</option>
      </select>
      <app-message-alert
      *ngIf="paymentForm.get('paymentHours')?.errors?.['required'] && paymentForm.get('paymentHours')?.touched" 
      mensagem="Campo obrigatório">
      </app-message-alert>
      </div>
 
      

      <div class="col-sm-5 col-md-4 d-block">
        <label for="description" class="form-label">Descrição</label>
        <input  class="form-control" id="description" formControlName="description">
        <app-message-alert
        *ngIf="paymentForm.get('description')?.errors?.['minlength'] && paymentForm.get('description')?.touched" 
        mensagem="o campo deve conter mais caracteres">
        </app-message-alert>
      </div>

      <div class="  d-flex mt-4 justify-content-center">
            <button class="btn  btn-size" type="submit" [disabled]="!paymentForm.valid"> Agendar</button>
      </div>
</form>

 <app-appointment-list></app-appointment-list>