

<div class="login-title p-3">
    <h2>Agende seu Pagamento</h2>
</div>

<form class="row mt-4 p-4" >

    <div class="col-md-3 mb-3">
        <label for="value" class="form-label">Valor*</label>
        <input type="number" class="form-control" id="value">
      </div>

    <div class="col-md-3 mb-3">
        <label for="date" class="form-label">Data*</label>
        <input type="date" class="form-control" id="date">
      </div>
    <div class="col-md-4 mb-3">
        <label for="date" class="form-label">Status</label>
        <input type="text" class="form-control" id="date">
      </div>

      <div class="col-md-7 ">
        <label for="description" class="form-label">Descrição</label>
        <textarea class="form-control" id="description" ></textarea>
      </div>

      <div class=" d-md-block  mt-4">
            <button class="btn btn-primary"> Agendar</button>
      </div>
</form>

 <router-outlet></router-outlet>