

<div class="login-title p-3">
    <h2>Agende seu Pagamento</h2>
</div>

<form class="row mt-4 p-4" [formGroup]="paymentForm" (ngSubmit)="schedulePayment()" >

    <div class="col-md-3 mb-3">
        <label for="value" class="form-label">Valor*</label>
        <input type="number" class="form-control" id="value" formControlName="paymentValue">
      </div>

    <div class="col-md-3 mb-3">
        <label for="date" class="form-label">Data*</label>
        <input type="date" class="form-control" id="date" formControlName="paymentDate">
      </div>
   

      <div class="col-md-7 ">
        <label for="description" class="form-label">Descrição</label>
        <textarea class="form-control" id="description" formControlName="description"></textarea>
      </div>

      <div class=" d-md-block  mt-4">
            <button class="btn btn-primary" type="submit"> Agendar</button>
      </div>
</form>

 <router-outlet></router-outlet>