
<div class="mb-5 ">
    <h2 class="login-title"> Cadastre-se</h2>
</div>

<form class="form">
    <div class="mb-4">
        <label for="name" class="form-label">Nome</label>
        <input type="text" class="form-control" id="name" placeholder="Digite seu nome...">
      </div>
      <div class="mb-4">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="email" placeholder="Digite seu E-mail...">
      </div>
      <div class="mb-4">
        <label for="password" class="form-label">Senha</label>
        <input type="password" class="form-control" id="password" placeholder="Digite sua senha">
      </div>
      <div class="mb-4">
        <label for="password-confirm" class="form-label">Confirmar senha</label>
        <input type="password" class="form-control" id="password-confirm" placeholder="Confirmar senha">
      </div>

      <button class="btn btn-primary">Cadastrar</button>
</form>
