

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    
    & h2{
        text-align: center;
        margin-bottom: 50px;
        color: #F1FAEE;
    }
}


form{
    width: 100%;
    padding-left: 12px;
    margin-bottom: 30px;
    & label{
        color: #F1FAEE;
    }
}
.btn-edit{
    background-color:#A8DADC;
    color: #000;
    &:hover{
        background-color:#a8dadcc0 ;
    }
}


.new-user {
    & p{
     color: #F1FAEE;
     font-weight: 500;
    } 
    & a{
     color: #A8DADC;
     &:hover{
         color: #a8dadcc0;
     }
    }
     
 }




@media (min-width: 768px){
    .login{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        & h2{
            color: #1D3557;
            margin-bottom: 20px;
        }
    }
    
    form{
        max-width: 550px;
        padding: 15px;
        & label{
            color: #1D3557;
            font-size: 1.1rem;
        }
    }

    .new-user {
        & p{
         color: #1D3557;
         font-weight: 500;
        } 
        & a{
         color: #457B9D;
         &:hover{
             color: #457b9daf;
         }
        }
         
     }
}


